{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "about.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

<!--
{{ partial "skill.html" . }}
-->
{{ partial "useMoney.html" . }}

{{ partial "service.html" . }}
<!--
{{ partial "team.html" . }}
-->
{{ partial "testimonial.html" . }}

{{ partial "funfacts.html" . }}
<!--
{{ partial "blog.html" . }}
-->

{{ partial "portfolio.html" . }}

{{ partial "sponser.html" . }}

{{ partial "pricing.html" . }}

{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }}
